<%= form_with model: @adj, local: true, class: 'form-horizontal'  do |f|%>
  <%= render partial: 'layouts/errors', locals: { model: @adj } %>

  <%= f.hidden_field :task_id %>
  <div class="form-group">
    <label class="col-xs-4 control-label">依頼者：</label>
    <div class="col-xs-8">
      <%= @adj.task.req_user_name %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-4 control-label">品種：</label>
    <div class="col-xs-8">
      <%= @adj.task.req_valiety %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-4 control-label">業者：</label>
    <div class="col-xs-8">
      <%= f.collection_select :trader_id, Trader.all, :id, :name , { include_blank: "会社を選択してください" },  { class: "form-control" } %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-4 control-label">フレコン：</label>
    <div class="col-xs-8">
      <% if @adj.container_shipment %>
        <%= f.number_field :container, class:"form-control" %>
      <% else %>
        <%= f.number_field :container, class:"form-control", disabled:true %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-4 control-label">紙袋：</label>
    <div class="col-xs-8">
      <% if @adj.bag_shipment %>
        <%= f.number_field :bag, class:"form-control" %>
      <% else %>
        <%= f.number_field :bag, class:"form-control", disabled:true %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-4 control-label">端量：</label>
    <div class="col-xs-8">
      <% if @adj.half_shipment %>
        <%= f.number_field :half, class:"form-control" %>
      <% else %>
        <%= f.number_field :half, class:"form-control", disabled:true  %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">調整メモ</label>
    <div class="col-sm-8">
      <%= f.text_area :adj_note, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4 control-label"></div>
    <div class="col-sm-8">
      <%= f.submit %>
    </div>
  </div>
<% end %>
