<%= form_with model: @task, local: true do |f| %>
  <%= f.hidden_field :user_id, value:1 %>

  <div>
    <label>依頼者：</label>
    <%= f.text_field :req_user_name, class:"form-control" %>
  </div>
  <div>
    <label>品種：</label>
    <%= f.text_field :req_valiety, class:"form-control" %>
  </div>
  <div>
    <label>メモ：</label>
    <%= f.text_area :task_note, class:"form-control" %>
  </div>
  <%= f.hidden_field :task_act, value:true %>

  <%= f.submit "登録" %>
<% end %>
