<%= form_with model: @dry, local: true, class: 'form-horizontal'  do |f|%>
  <%= render partial: 'layouts/errors', locals: { model: @dry } %>

  <%= f.hidden_field :task_id %>
  <div class="form-group">
    <%= f.label :req_user_name, class: "col-xs-4 control-label" %>
    <div class="col-xs-8">
      <%= @dry.task.req_user_name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :req_valiety, class: "col-xs-4 control-label" %>
    <div class="col-xs-8">
      <%= @dry.task.req_valiety %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :drier_id, class: "col-xs-4 control-label" %>
    <div class="col-xs-8">
    <% if @page == "乾燥修正" %>
      <%= f.hidden_field :drier_id %>
      <%= @dry.drier.name %>
    <% else %>
      <%= f.select(:drier_id, [['80石',1],['40石',2],['65石①',3],['65石②',4]]) %>
    <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :init_moist, class: "col-xs-4 control-label" %>
    <div class="col-xs-8">
      <%= f.number_field :init_moist, min: 14.0, max: 30, step: 0.1, class:"form-control" %>
    </div>
  </div>

  <%= f.hidden_field :dry_condition1 %>
  <%= f.hidden_field :dry_condition2 %>
  <%= f.hidden_field :dry_condition3 %>
  <%= f.hidden_field :dry_condition4 %>
  <%= f.hidden_field :dry_condition5 %>
  <%= f.hidden_field :dry_condition6 %>

  <div class="form-group">
    <%= f.label :dry_note, class: "col-xs-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :dry_note, class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 control-label"></div>
    <div class="col-sm-8">
      <%= f.submit %>
    </div>
  </div>
<% end %>
