<!DOCTYPE html>
<html>
  <head>
    <title>DryAdjustment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render partial: 'layouts/script' %>
  </head>

  <body>
    <div class="container">
      <%= render partial: 'layouts/header' %>
      <%= render partial: 'layouts/errors' %>
      <row>
        <div class="col-sm-8 col-sm-offset-2">
          <h2><%= @page %></h2>
          <%= yield %>
        </div>
      </row>
    </div>
  </body>
</html>
